@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

:root {
  /*Primary*/

  --red:  hsl(0, 100%, 67%);
  --yellow:hsl(39, 100%, 56%);
  --green:hsl(166, 100%, 37%);
  --cobalt:hsl(234, 85%, 45%);

  --Light-red: hsla(0, 100%, 67%, 0.12);
  --Orangey-yellow: hsla(39, 100%, 56%, 0.12);
  --Green-teal: hsla(166, 100%, 37%, 0.1);
  --Cobalt-blue: hsla(234, 85%, 45%, 0.1);

  /*Gradients*/

  --Light-slate-blue-background: hsl(252, 100%, 67%);
  --Light-royal-blue-background: hsl(241, 81%, 54%);
  --Violet-blue-circle: hsla(256, 72%, 46%, 1);
  --Persian-blue-circle: hsla(241, 72%, 46%, 0);

  /*Neutral*/

  --White: hsl(0, 0%, 100%);
  --Pale-blue: hsl(221, 100%, 96%);
  --Light-lavender: hsl(241, 100%, 89%);
  --Dark-gray-blue: hsl(224, 30%, 27%);
}

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  font-family: 'Hanken Grotesk', sans-serif;
  font-size: 1.2rem;
  display: grid;
  place-content: center;
  padding: 10rem; 
  background-color: var(--White);
  min-height: 100vh; 
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 46rem;
  min-height: 30.4rem;
  box-shadow: 0.5rem 0.5rem 2rem var(--Pale-blue);
  border-radius: 1.7rem;
}

.resultado {
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  text-align: center;
  border-radius: 1.7rem;
}

.resultado h3 {
  padding: 2.1rem;
  color: var(--Light-lavender);
  font-weight: 500;
}

.circulo {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  text-align: center;
  margin: 0 auto;
  background-image: linear-gradient(hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
}

.circulo h1{
  color: var(--White);
  font-size: 4.5rem;
  padding-top: 2rem;
  font-weight: 700;
}

.circulo p{
  color: var(--Light-lavender);
  font-size: 1.1rem;
}

.conteudo {
  margin: 0 2.4rem;
}

.conteudo h2{
  color: var(--White);
  padding-top: 1.5rem;
  font-weight: 500;
}

.conteudo p {
  color: var(--Light-lavender);
  padding-top: 1rem;
  font-size: 1.1rem;
}

.summary {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  font-weight: 700;
  border-radius: 1.7rem;
}

.color {
  color: var(--Light-lavender);
  margin-left: -0.8rem;
}

.summary p{
  display: inline-block;
}

.summary h3 {
  color: var(--Dark-gray-blue);
  font-weight: 800;
  margin: 2rem 0 0 2rem;
  font-size: 1.7rem;
}

.reaction {
  display: inline-flex;
  word-spacing: 1rem;
  margin: 1rem 0 0 2rem;
  background-color: var(--Light-red);
  padding: 0.7rem;
  border-radius: 0.5rem;
  max-width: 16rem;
}

.reac{
  color: var(--red);
  margin-left: 1rem;
}

.reac-conteudo {
  margin-left: 4rem;
  color: var(--Dark-gray-blue);
  padding-left: 0.5rem;
}

.memory {
  display: inline-flex;
  word-spacing: 1rem;
  margin: 1rem 0 0 2rem;
  background-color: var(--Orangey-yellow);
  padding: 0.7rem;
  border-radius: 0.5rem;
  max-width: 16rem;
}

.memo{
  color: var(--yellow);
  margin-left: 1rem;
  
}

.memory-conteudo {
  margin-left: 4rem;
  color: var(--Dark-gray-blue);
  padding-left: 0.8rem;
}

.verbal {
  display: inline-flex;
  word-spacing: 1rem;
  margin: 1rem 0 0 2rem;
  background-color: var(--Green-teal);
  padding: 0.7rem;
  border-radius: 0.5rem;
  max-width: 16rem;
}

.ver{
  color: var(--green);
  margin-left: 1rem;
  
}

.verbal-conteudo {
  margin-left: 4rem;
  color: var(--Dark-gray-blue);
  padding-left: 1.8rem;
}

.visual {
  display: inline-flex;
  word-spacing: 1rem;
  margin: 1rem 0 0 2rem;
  background-color: var(--Cobalt-blue);
  padding: 0.7rem;
  border-radius: 0.5rem;
  justify-content: start;
  max-width: 16rem;
}

.visu{
  color: var(--cobalt);
  margin-left: 1rem;
}

.visual-conteudo {
  margin-left: 4rem;
  color: var(--Dark-gray-blue);
  padding-left: 2rem;
}
.botao {
  margin: 1.7rem 0 0 2rem;
  max-width: 16rem;
  padding: 0.8rem;
  background-color: var(--Dark-gray-blue);
  display: grid;
  place-content: center;
  border-radius: 2rem;
}

.botao a {
  color: var(--White);
}

.botao:hover{
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

.attribution {
  text-align: center;
  padding-top: 2.5rem;
}

/* Mobile: 375px 24rem */